.url-page {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 32px;
  top: 20px;
  position:relative;
  .md-avatar-icon {
    width: 30px;
    height: 30px;
    p {
      margin: 0;
      text-align: center;
      line-height: 30px;
    }
  }
  .md-fab{
    a{
      color:white;
      &:visited, &:hover{
        color:white;
      }
    }
  }
  .filters{
    md-input-container{
      margin-left: 10px;
    }
  }
}
md-dialog{
  .md-avatar-icon {
    width: 30px;
    height: 30px;
    p {
      margin: 0;
      text-align: center;
      line-height: 30px;
    }
  }
}